<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .bg-primary {
            background-color: rgb(4, 36, 106) !important;
            font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
            color: white;
            width: 100%;
        }
    </style>
    <title>Agency Email</title>
</head>
<body>
<table class="bg-primary" cellpadding="5">
    <tbody>
    <tr>
        <td>
            <b>Dear <span th:text="${agencyName}"/>,</b>
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td>
            Good day!!
        </td>
    </tr>
    <tr>
        <td>
            Please find the approved Cost+ remuneration template and ADI Journal attached for the
            agency.
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td>
            Thank you and Regards,
            <br/>
            Cost+ Remuneration Tool
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>