<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .bg-primary {
            background-color: rgb(4, 36, 106) !important;
            font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
            color: white;
            width: 100%;
        }

    </style>
    <title>AR Email</title>
</head>
<body>
<table class="bg-primary" cellpadding="5">
    <tbody>
    <tr>
        <td>
            <b>Dear AR Team,</b>
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td>
            Good day!!
        </td>
    </tr>
    <tr>
        <td>
            Please find cost+ remuneration details for <span th:text="${monthYear}"/> in below table as principle wise. Kindly raise the
            invoice's to each principal accordingly.
        </td>
    </tr>
    <tr>
        <td>
            Once invoice raised please provide invoice copy to us, Kindly informed that, Use call date should be
            <span th:text="${dateMonthYear}"/>.
            Kindly create dummy receipt also.
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="5" cellspacing="5" style="border-collapse:collapse;">
                <thead>
                <th style="border: 1px solid #FFFFFF">Principal</th>
                <th style="border: 1px solid #FFFFFF">Amount</th>
                </thead>
                <tbody>
                <tr th:each="arData : ${arAmounts}">
                    <td th:text="${arData.carrierName}" style="border: 1px solid #FFFFFF"></td>
                    <td th:text="${arData.arAmount}" style="text-align: right;border: 1px solid #FFFFFF"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td>
            Thank you and Regards,
            <br/>
            Cost+ Remuneration Tool
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>