<!doctype html>
<html>
<head>
    <meta charset="utf-8"></meta>

    <title>Registration Mail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <style th:inline="text">
    table{
      background:url([[@{(${{serverUrl}}+ '/static/img/bg.jpg')}]])  ;
    }
</style>

</head>
<body style="font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; background-color:#fff; margin:0; padding:0; color:#fff;">

<table width="100%" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" style="background:transparent">
    <tbody>
    <tr>
        <td style="padding:0px 0;" >

            <table cellpadding="0" cellspacing="0" width="600" height="" border="0" align="center" style=" background:transparent; background:#fff;border:1px solid #ccc;">

                <tbody>
                <tr valign="top">
                    <td>
                        <table cellpadding="0" width="100%" cellspacing="0" border="0" class="table" style="background-color: #1a1a1a;">
                            <tbody>

                            <tr>

                                <td width="600">
                                    <table cellpadding="0" width="100%" cellspacing="0" border="0" style="background:transparent padding: 40px 0;">
                                        <tbody>

                                        <tr>

                                            <td width="600">
                                                <img th:src="${{serverUrl} + '/static/img/logo.png'}" width="" height="" alt="" style="display:block; border:0;padding-top:0px;margin:auto;width:100px;"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding="0" width="100%" cellspacing="0" border="0" style="background:transparent;">
                                        <tbody>
                                        <tr>
                                            <td width="600" style="text-align:center;padding-bottom: 40px;">
                                                <img th:src="${{serverUrl} + '/static/img/done.png'}" width="" height="" alt="" style="display:block; border:0;padding-top:0px;margin:auto;width:150px;"/>
                                                <h2 style="font-weight: lighter;"><b th:text="${youAreJustOneStep}"></b> <br/><strong><b th:text="${activatingYourAccount}"></b></strong></h2>
                                                <hr style="width: 80px;border: 2px solid #fff;"/>
                                                <p style="padding-bottom: 20px;"><b th:text="${clickButton}"></b></p>
                                                <a th:href="@{${verificationLink}}" target="_blank" class="btn" style="border-radius: 7px;background-color: #fff;color: #CF171A;padding: 10px 28px;text-decoration: none;"><b th:text="${activate}"></b></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" width="100%" cellspacing="0" border="0" style=" background:transparent; background: #e0e0e0;">
                            <tbody>
                            <tr>
                                <td width="600" style="padding: 20px;">
                                    <p style="color:#000;font-size: 13px;"><b th:text="${forYourAssistance}"></b><a href="mailto:support@belfrics.com" style="color: #cf252c;font-weight: 600;font-size: 14px;">support@belfrics.com</a> <br/><br/><b th:text="${thankYouForChoosing}"></b><strong style="font-size: 14px;">Belfrics </strong></p>

                                    <p style="color:#000;font-size: 13px;"><b th:text="${bestRegards}"></b><br/><strong style="font-size: 16px;">Belfrics <span th:text="${exchangeCountryName}" ></span> </strong></p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" width="100%" cellspacing="0" border="0" style="background:transparent;    padding: 15px 0;">
                            <tbody>
                            <tr>
                                <td width="20"><p style="margin:0; font-size:12px; line-height:1px;">&nbsp;</p> </td>
                                <td width="500">
                                    <p style="margin:0; font-size:12px; line-height:1px;">
                                        <a href="https://www.belfrics.io" target="blank" style="text-decoration:none;color:#000">  Visit: www.belfrics.io  </a>  |  <a th:href="${contactUrl}" style="text-decoration:none;color:#000">Contact Us</a> | <a th:href="${privacyPolicy}" style="text-decoration:none;color:#000">Privacy Policy</a>
                                    </p>
                                </td>
                                <td width="30"><a href="https://www.facebook.com/Belfrics/" target="_blank"><img th:src="${{serverUrl} + '/static/img/facebook.png'}" width="27px" height="" alt="" style="display:block; border:0; padding-top:0px; padding-left:0px; "/> </a> </td>
                                <td width="30">
                                    <a href="https://twitter.com/Belfrics" target="_blank"><img th:src="${{serverUrl} + '/static/img/twitter.png'}" width="27px" height="" alt="" style="display:block; border:0;padding-top:0px;padding-right:0px;"/></a>
                                </td>
                                <td width="30"><a href="https://www.linkedin.com/company/atriol-uk-limited?trk=biz-companies-cym" target="_blank"><img th:src="${{serverUrl} + '/static/img/linkedin.png'}" width="27px" height="" alt="" style="display:block; border:0; padding-top:0px; padding-left:0px; "/> </a> </td>
                                <td width="30">
                                    <a href="https://plus.google.com/114580622343573650358" target="_blank"><img th:src="${{serverUrl} + '/static/img/googleplus.png'}" width="27px" height="" alt="" style="display:block;border:0; padding-top:0px;padding-right:0px;"/></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" width="100%" cellspacing="0" border="0" style="background:transparent;">
                            <tbody>
                            <tr style="text-align:center;">

                                <td width="600"><p style="color: #949494;border-top: 1px solid #949494;padding-top: 15px;    margin-top: 0;">Copyright © 2018 Belfrics.com, All rights reserved.</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>